
{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{# page title is inserted automatically inside h1 element #}
{# header "Material" is included automatically (h2 element) #}
{% block course_content %}
<h3>Schriftelijk materiaal</h3>
<p>Het gebruik van Git voor het beheer van het portfolio heeft een aantal belangrijke voordelen:</p>
<ul>
  <li>Initieel beperkt begrip nodig. Drie vaste commando's volstaan.</li>
  <li>Studenten hebben geschiedenis van hun inzendingen. Kunnen hun denkfouten herbekijken en er lessen uit trekken.</li>
  <li>Essentiële tool voor programmeurs. Studenten IT <em>moeten</em> dit anno 2020 kennen.</li>
  <li>Veel sneller dan knop om te uploaden.</li>
</ul>
{# sections should start with an h3 header #}
{# if there is video material, place it before written material #}
{# e.g. <h3>Video material</h3>...<h3>Written material</h3> #}
{% endblock %}

{# header "Assignment" is included automatically (h2 element) #}
{% block assignment %}
{# header "Description" is included automatically (h3 element) #}
{# header "Technical requirements" is included automatically (h3 element) #}
{# header "Check" is included automatically (h3 element) #}
{% endblock %}

{# block post_content is available but optional, should start with h2 #}
{# can put references, acknowledgements in this block #}


