
{% extends 'checkerapp/course_content.html' %}
{% load xchk_instructions %}
{% load static %}
{# page title is inserted automatically inside h1 element #}
{# header "Material" is included automatically (h2 element) #}
{% block course_content %}
<h3>Schriftelijk materiaal</h3>
<p>Specifieke controleprocedures zijn geen intrinsiek onderdeel van het systeem. Iedere programmeur kan er zelf schrijven en deze beschikbaar maken voor collega's. Elke stukje code dat een "ja" of "nee" kan geven over een inzending, is denkbaar. Voorbeelden:</p>
<ul>
  <li>Is ingezonden code geldige syntaxis voor C♯?</li>
  <li>Is ingezonden C♯-code equivalent aan een gekende oplossing?</li>
  <li>Levert ingezonden MySQL-code zelfde data als modeloplossing?</li>
  <li>Heeft een ingezonden elektriciteitsschema (voorgesteld als tekst) de gewenste karakteristieken?</li>
</ul>
<p>Deze controles kunnen in geval van een ongewenste uitkomst verklaren waarom ze een "ja" of een "nee" hebben opgeleverd. Dus de auteur kan ook feedback bundelen die vanzelf gegeven wordt bij specifieke fouten. Deze feedback hoeft niet zuiver tekstueel te zijn. Alles wat op een webpagina getoond kan worden, is mogelijk.</p>
{# sections should start with an h3 header #}
{# if there is video material, place it before written material #}
{# e.g. <h3>Video material</h3>...<h3>Written material</h3> #}
{% endblock %}

{# header "Assignment" is included automatically (h2 element) #}
{% block assignment %}
{# header "Description" is included automatically (h3 element) #}
{# header "Technical requirements" is included automatically (h3 element) #}
{# header "Check" is included automatically (h3 element) #}
{% endblock %}

{# block post_content is available but optional, should start with h2 #}
{# can put references, acknowledgements in this block #}


